
header {
    position: relative;
    height: 70px;
    box-shadow: -2px 6px 9px -4px #0e0707;
    z-index: 188;
    background-color: #5e8484;
}

@media all and (max-width: 450px) {
    main > section {
        height: 736px;
        width: 1314px;
        position: absolute;
        overflow: hidden;
    }

    header {
        position: absolute;
        height: 70px;
        width: 1314px;
        box-shadow: -2px 6px 9px -4px #0e0707;
        z-index: 188;
        background-color: #5e8484;
    }
}

#bottom {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: white;
}
#bottom>img{
    width:100vw;
    position: absolute;
    margin:auto;
    left: 0;
    right:0;
    top:0;
    bottom:0;
}

header > ul {
    position: absolute;
    right: 30px;
    top: 0;
    font-size: 20px;
    list-style: none;
    font-weight: bold;
    display: inline-block;
}

header > ul > li {
    padding: 0 10px 0 10px;
    display: inline-block;
    color: white;
}

#loading {
    width: 200px;
}

body > header > ul > li:hover {
    color: red;
    cursor: pointer;
}

main > section {
    height: 736px;
    /*   border: 3px solid red;*/
    position: relative;
    overflow: hidden;
}

main > section > section {
    width: 400%;
    height: 100%;
    /*   border: 2px solid green;*/
    display: flex;
    animation-name: slide;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes slide {
    0%, 15% {
        transform: translateX(0);
    }
    25%, 40% {
        transform: translateX(-25%);
    }
    50%, 70% {
        transform: translateX(-50%);
    }
    80%, 100% {
        transform: translateX(-75%);
    }

}

.images > div {
    /*      border: 1px solid green;*/
    width: 100%;
}

.images > div:nth-child(1) {
    background: url("assets/css/image/img.png");
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.images > div:nth-child(2) {
    background: url("assets/css/image/1428490.jpg");
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.images > div:nth-child(3) {
    background: url("assets/css/image/three.jpg");
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.images > div:nth-child(4) {
    background: url("assets/css/image/4.jpeg");
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.first > h1 {
    color: #ffffff;
    right: 490px;
    bottom: 74px;
    margin: auto;
    position: absolute;
    z-index: 1;
    font-size: 60px;
}

#name {
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
    font-style: italic;
}

.about {
    left: 40px;
    top: 2px;
    position: relative;
    font-style: oblique;
    margin: auto;
    /*
            border: 1px solid red;
    */
}

.aboutSection {
    background-color: #0e4057;
}

#skils {
    background-color: #96a1a7;
}


.Educations {
    background-color: #0e4057;
}

.Educations > h1 {
    color: white;
}


.projects {
    background-color: #96a1a7;
}

.projects > h1 {
    color: white;
}


.about {
    color: white;
}

.aboutSection > pre {
    position: absolute;
    top: 156px;
    left: 492px;
    color: white;
}

.footer {
    border: 1px solid white;
    height: 300px;
    background-color: #000000;
    color: white;
    font-size: 10px;

}

#footerName {
    top: 20px;
    left: 51px;
    font-size: 25px;
    margin: auto;
    position: relative;
    display: inline-block;

}

#phone {
    top: 20px;
    width: 200px;
    left: -560px;
    margin: auto;
    color: red;
    position: relative;
    font-size: 17px;
}

#phone > h3 {
    display: inline-block;
}


#contact {
    top: 5px;
    left: -560px;
    width: 200px;
    margin: auto;
    position: relative;
}


#address {
    color: red;
    top: 20px;
    width: 200px;
    left: -560px;
    margin: auto;
    position: relative;
    font-size: 17px;
}


#address > h3 {
    display: inline-block;
}

.div {
    width: calc(95% / 3);
    height: calc(440px / 2);
    box-shadow: 35px 13px 8px -5px #282626;
    background-color: #3f476f;
    position: absolute;
    justify-content: center;
}


#skils > div:nth-child(1) {
    top: 0;
    position: absolute;
    left: 15px;
    margin: auto;
}

#skils > div:nth-child(2) {
    top: 76px;
    left: 0;
    position: absolute;
    right: 0;
    margin: auto;
}

#skils > div:nth-child(3) {
    right: 5px;
    top: 76px;
    position: absolute;
    margin: auto;
}

#skils > div:nth-child(4) {
    left: 4px;
    bottom: 22px;
    position: absolute;
    margin: auto;
}

#skils > div:nth-child(5) {
    left: 0;
    right: 0;
    bottom: 22px;
    position: absolute;
    margin: auto;
}

#skils > div:nth-child(6) {
    right: 4px;
    bottom: 22px;
    position: absolute;
    margin: auto;
}

.div1 {
    left: 0;
    width: calc(100% / 1);
    height: calc(440px / 2);
    margin: auto;
    position: absolute;
    transition: 1s;
}

.div1 > h1 {
    color: white;
    text-align: center;
}

.div1:hover {
    transform: scale(1.3);
    background-color: #062d36;
}

.imgfx {
    left: 20px;
    width: 100px;
    top: 40px;
    position: relative;
}

.image:hover {
    color: red;
}

#addressHome {
    top: 5px;
    left: -561px;
    width: 200px;
    margin: auto;
    position: relative;
    font-size: 16px;
}

.image {
    font-size: 100px;
    color: #ffffff;
    left: 50px;
    margin: auto;
    position: relative;;
}

#hotline {
    color: red;
    top: -256px;
    width: 200px;
    left: -173px;
    margin: auto;
    position: relative;
    font-size: 17px;
}

#hotline > h3 {
    display: inline-block;
}

#hotlineNo {
    top: -3px;
    left: -33px;
    margin: auto;
    color: white;
    font-size: 25px;
    position: relative;
}

#email {
    color: red;
    top: -256px;
    width: 200px;
    left: -173px;
    margin: auto;
    position: relative;
    font-size: 17px;
}

#email > h2 {
    display: inline-block;
}

#email > h3 {
    color: white;
    top: 1px;
    left: -70px;
    position: relative;
    margin: auto;
    font-size: 16px;
}


#contactUs {
    width: 60px;
    height: 60px;
    background: #ff0505;
    position: fixed;
    right: 80px;
    bottom: 40px;
    border-radius: 100%;
    z-index: 1;
}

#contactUs > div {
    font-size: 33px;
    color: white;
    position: absolute;
    top: 12px;
    left: 15px;

}

#facebook {
    width: 40px;
    height: 40px;
    background: #ff0000;
    position: relative;
    right: -1145px;
    top: -251px;
    bottom: 40px;
    border-radius: 100%;
    z-index: 2;
}

#facebook > div {
    font-size: 23px;
    color: white;
    position: absolute;
    top: 9px;
    left: 14px;
}

#facebook:hover {
    background-color: blue;
}

#youtube {
    width: 40px;
    height: 40px;
    background: #ef0000;
    position: relative;
    right: -1204px;

    top: -292px;
    bottom: 40px;
    border-radius: 100%;
    z-index: 2;
}

#youtube > div {
    font-size: 23px;
    color: #ffffff;
    position: absolute;
    top: 9px;
    left: 8px;
}

#linkdIn {
    width: 40px;
    height: 40px;
    background: #ff0404;
    position: relative;
    right: -1262px;
    top: -331px;
    bottom: 40px;
    border-radius: 100%;
    z-index: 2;
}

#linkdIn > div {
    font-size: 23px;
    color: white;
    position: absolute;
    top: 9px;
    left: 8px;
}

#linkdIn:hover {
    background-color: #0019ff;
}

.projects > #projectImage > div {
    width: calc(95% / 3);
    height: calc(800px / 2);
    box-shadow: 35px 13px 8px -5px #282626;
    background-color: #3f476f;
    position: absolute;
    justify-content: center;
}

#projectImage > div:nth-child(1) {
    left: 10px;
    position: absolute;
    margin: auto;
    background-position: center;
    background-size: cover;
    z-index: 2;
}


#projectImage > div:nth-child(2) {

    left: 0;
    right: 0;
    margin: auto;
    background-position: center;
    background-size: cover;
}

#projectImage > div:nth-child(3) {

    right: 10px;
    margin: auto;


}

.projectImages {
    bottom: 0;
    border: 1px solid red;
    width: 100%;
    height: 300px;
    position: absolute;
    background-position: center;
    background-size: cover;
    display: inline-block;
}

.projectImages > img {
    width: 100%;
    height: 100%;
}

#projectImage > div > h1 {
    text-align: center;
    color: wheat;
    font-size: 30px;
}

#Projectbutton {
    width: 168px;
    height: 43px;
    border: 3px solid red;
    background: #000000;
    bottom: 144px;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    margin: auto;
}


#Projectbutton:hover {
    background-color: red;
    cursor: pointer;
}

a {
    color: white;
}

* {
    text-decoration: none;
}

.white-circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 136px;
    right: 0;
    left: 0;
    margin: auto;
}

aside > div:nth-child(1) {
    bottom: -300px;
    left: 3px;
}

.white-line {
    width: 5px;
    height: 400px;
    background-color: white;
    top: -52px;
    left: 758px;
    position: relative;
}

.red-circle {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 100%;
}

aside > div:nth-child(2) {
    top: 143px;
    left: 750px;
    right: 13px;
    position: relative;
    z-index: 1;
}

aside > div:nth-child(3) {
    top: 122px;
    left: 897px;
    right: 13px;
    z-index: 1;
    position: relative;
}

.red-line {
    width: 10vw;
    height: 1vh;
    background-color: red;
}

aside > div:nth-child(4) {
    top: 109px;
    left: 757px;
    bottom: 0;
    position: relative;
    z-index: 1;
}

aside > div:nth-child(5) {
    top: 399px;
    left: 751px;
    right: 13px;
    position: relative;
    z-index: 1;
}

aside > div:nth-child(6) {
    top: 377px;
    left: 897px;
    right: 13px;
    z-index: 1;
    position: relative;
}

.red-line {
    width: 10vw;
    height: 1vh;
    background-color: red;
}

aside > div:nth-child(7) {
    top: 364px;
    left: 761px;
    bottom: 0;
    position: relative;
    z-index: 1;
}

aside > div:nth-child(8) {
    top: 186px;
    left: 752px;
    bottom: 0;
    position: relative;
    z-index: 1;
}

aside > div:nth-child(9) {
    top: 166px;
    left: 596px;
    right: 13px;
    position: relative;
    z-index: 1;
}

aside > div:nth-child(10) {
    top: 154px;
    left: 603px;
    right: 13px;
    z-index: 1;
    position: relative;
}

aside > div:nth-child(11) {
    top: -50px;
    position: relative;
}

.education-div {
    width: 400px;
    height: 150px;
    border: 3px solid #ffffff;
    top: 75px;
    position: absolute;
    z-index: 2;
}

aside > div:nth-child(13) {
    right: 199px;
    top: 178px;
    position: absolute;
}

aside > div:nth-child(14) {
    right: 200px;
    top: 457px;
    position: absolute;
}

aside > div:nth-child(15) {
    left: 192px;
    top: 290px;
    position: absolute;
}

.education-div > h2 {
    text-align: center;
    color: white;
    font-size: 20px;
}

.education-div > h1 {
    text-align: center;
    color: #52ffe7;
    font-size: 20px;
}

#ijse {
    color: #fc001a;
}
